.form_component {
  display: flex;
  margin-top: -2rem;

  > input {
    flex: 1;
    margin-right: .5rem;
    
    padding: 1rem;
    border: none;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-300);
  }

  > button[type="submit"] {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--blueDark);
    color: var(--gray-100);
    font-size: 1rem;
    font-weight: 700;

    display: inline-flex;
    align-items: center;

    transition: .1s background-color;

    &:hover { 
      background-color: var(--blue);
    }

    img {
      margin-left: .5rem;
    }
  }
}